**/.DS_Store
**/Thumbs.db

# IGNORE ALL ONGOING WORK IN DSP

dsp/core/

dsp/effects/*
!dsp/effects/Stut.h
!dsp/effects/Stut.cpp

dsp/sampler/*
!dsp/sampler/Gbend.h
!dsp/sampler/Gbend.cpp

dsp/synthesis/
dsp/tests/

dsp/utilities/*
!dsp/utilities/wavetable.h

# IGNORE ALL OTHER FOLDER FOR NOW

fsm/
plug/
test/
