**/.DS_Store
**/Thumbs.db

control/gesture/*
!control/gesture/IntervalMap.h

control/harmony/*
!control/harmony/PatternMap.h
!control/harmony/Tonnetz.h

core/math/*

dsp/effects/*
!dsp/effects/Compress.h
!dsp/effects/Compress.cpp
!dsp/effects/Distort.h
!dsp/effects/Distort.cpp
!dsp/effects/Stut.h
!dsp/effects/Stut.cpp

dsp/sampler/*
!dsp/sampler/Gbend.h
!dsp/sampler/Gbend.cpp

dsp/synthesis/*
!dsp/synthesis/Oscillator.h
!dsp/synthesis/Oscillator.cpp

dsp/utilities/*
!dsp/utilities/Average.h
!dsp/utilities/FFT.h
!dsp/utilities/OnePole.h
!dsp/utilities/Ramp.h
!dsp/utilities/units.h
!dsp/utilities/wavetable.h

# IGNORE ALL OTHER FOLDER FOR NOW

fsm/
plug/
test/
