**/.DS_Store
**/Thumbs.db

control/*
# !control/harmony/Scales.h
# !control/harmony/Scales.cpp

core/*

dsp/effects/*
!dsp/effects/Compress.h
!dsp/effects/Compress.cpp
!dsp/effects/Distort.h
!dsp/effects/Distort.cpp
!dsp/effects/Stut.h
!dsp/effects/Stut.cpp

dsp/sampler/*
!dsp/sampler/Gbend.h
!dsp/sampler/Gbend.cpp

dsp/synthesis/*
!dsp/synthesis/Oscillator.h
!dsp/synthesis/Oscillator.cpp

dsp/utilities/*
!dsp/utilities/Average.h
!dsp/utilities/FFT.h
!dsp/utilities/OnePole.h
!dsp/utilities/Ramp.h
!dsp/utilities/units.h
!dsp/utilities/wavetable.h

# IGNORE ALL OTHER FOLDER FOR NOW

fsm/
plug/
test/
